{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": ["react", "react-hooks"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    // overrides
    "react/prop-types": [1, { "ignore": [navigation, dispatch] }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
